.calendarContainer {
  padding: 30px;
  border: 1px solid #dce0e4;
  border-radius: 5px;
  display: inline-block;
  box-shadow: -10px 10px 25px 0px #00000033;
}

.calendarLogo {
  height: 18px;
}

.calendarLogoContainer {
  background-color: #ff9900;
  padding: 6px;
  border-radius: 5px;
}

.calendarText {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .calendarText {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }

  .calendarLogo {
    height: 14px;
  }

  .calendarLogoContainer {
    padding: 1px 4px;
  }
}

.calendarInput {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  padding: 13px 11px;
  border: 1px solid #dce0e4;
  border-radius: 5px;
  width: 264px;
}

@media screen and (max-width: 500px) {
  .calendarInput {
    width: 164px;
  }
}

.calendarInputLogo {
  top: 0px;
  right: 0px;
  margin-right: 12.75px;
}

.applyButton {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  background-color: #ff9900;
  color: #ffffff;
  padding: 9px 18px;
  border-radius: 5px;
  border: none;
}

.applyButton:hover {
  background-color: #cc7a00;
}

.cancelButton {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  background-color: #637381;
  color: #ffffff;
  padding: 9px 18px;
  border-radius: 5px;
  border: none;
}
.cancelButton:hover {
  background-color: #596773;
}

@media screen and (max-width: 500px) {
  .applyButton {
    font-size: 15px;
    line-height: 16px;
    padding: 6px 12px;
  }

  .cancelButton {
    font-size: 15px;
    line-height: 16px;
    padding: 6px 12px;
  }
}
