.dashboard-title {
  font-weight: 600;
  font-size: 20px;
  color: #1b2850;
}

.select-date {
  background: rgba(255, 153, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
}

.select-date-calendar {
  height: 20px;
}

.reloadButton {
  height: 16px;
}

.reloadButtonContainer {
  background-color: #ff99001a;
  padding: 2px 6px;
  border-radius: 5px;
  cursor: pointer;
}

.sales-overview-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 15px;
  border-radius: 7px;
}
.card-title {
  font-weight: 500;
  font-size: 16px;
  color: white !important;
}
.card-value {
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.location-card-title {
  font-weight: 600;
  font-size: 16px;
  color: #1b2850;
}
.location-card-title img {
  height: 50px;
}
.location-card {
  box-shadow: 0px 0px 20px 0px #0000000d;
  background: white;
  padding: 10px 18px;
  border-radius: 5px;
}
.dashboard-card-image {
  height: 55px;
  width: 55px;
}

.online-service-card {
  background: var(--white-color);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px #0000000d;
}

.online-service-card-img {
  height: 95px;
  width: 110px;
}
.online-service-card-text {
  font-size: 18px;
  font-weight: 600;
}

.online-service-card-count span {
  font-size: 11px;
  font-weight: 500;
  color: #637381;
}
.online-service-card-count p {
  font-size: 11px;
  font-weight: 600;
  color: #1b2850;
}

.dashboard-container-view {
  margin-left: 1vh !important;
  margin-right: 1vh !important;
}

/* Nayem */
.zIndex {
  z-index: 3;
}

.sectionMargin {
  margin-top: 30px !important;
}

.sectionContentMargin {
  margin-top: 20px !important;
}

@media screen and (max-width: 1590px) {
  .location-card-title {
    font-weight: 600;
    font-size: 13px;
    color: #1b2850;
  }
  .location-card-title img {
    height: 45px;
  }
}
@media screen and (max-width: 1440px) {
  .location-card {
    padding: 5px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1200px) {
  .sales-overview-card {
    padding: 10px 10px;
  }
  .sales-card-footer {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .dashboard-title {
    font-size: 16px;
  }
  .select-date {
    padding: 7px;
    font-size: 12px;
  }
  .select-date-calendar {
    height: 16px;
  }
  .reloadButton {
    height: 12px;
  }

  .reloadButtonContainer {
    padding: 1px 4px;
  }
}

@media screen and (max-width: 900px) {
  .sectionMargin {
    margin-top: 25px !important;
  }

  .sectionContentMargin {
    margin-top: 15px !important;
  }
  .sales-overview-card {
    padding: 10px 10px;
  }
  .sales-card-footer {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .sectionMargin {
    margin-top: 20px !important;
  }

  .sectionContentMargin {
    margin-top: 10px !important;
  }
}

@media screen and (max-width: 400px) {
  .sectionMargin {
    margin-top: 15px !important;
  }

  .sectionContentMargin {
    margin-top: 7px !important;
  }
}
