/* .salesAnalysisTitle{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    color: #1B2850;
} */

.salesAnalysisDropdown .btn {
  color: #ff9900 !important;
  background: #ff99001a !important;
  padding: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  border: none;
}

.salesAnalysisCard {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px #0000000d;
  //min-height: 65vh;
}

.analysis-card,
.best-items-card {
  height: 37.35vh;
}
/* .dropdown-menu {
    --bs-dropdown-min-width: 9.5rem !important;
  } */
@media screen and (max-width: 450px) {
  .analysis-card {
    height: 150px;
  }
}
