.pathologyCardContentContainer {
  padding: 20px;
}

.pathologyCardTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
}

.pathologyCardPathologyGroth {
  height: 20px;
}

.pathologyCardPathologyGrothText {
  font-family: Montserrat;
  /* font-size: 16px; in figma*/
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.pathologyCardBottomContentMargin {
  margin-top: 30px !important;
}

.totalBooked {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #637381;
}

.totalBookedValue {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #1b2850;
}

.perDay {
  font-size: 9px;
  font-weight: 400;
}

@media screen and (min-width: 1200px) and (max-width: 1290px) {
  .pathologyCardTitle {
    font-size: 14px;
    line-height: 18px;
  }
  .totalBooked {
    font-size: 12px;
  }
  .totalBookedValue {
    font-size: 10px;
  }
  .perDay {
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {
  .pathologyCardBottomContentMargin {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 500px) {
  .pathologyCardTitle {
    font-size: 14px;
    line-height: 14px;
  }

  .pathologyCardPathologyGroth {
    height: 18px;
  }

  .pathologyCardPathologyGrothText {
    font-size: 12px;
  }

  .totalBooked {
    font-size: 12px;
    line-height: 12px;
  }

  .totalBookedValue {
    font-size: 11px;
    line-height: 11px;
  }
}
