.product-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--primary-color);
  margin-top: 3.4vh;
  /**margin-left: 3.4vh; **/
}

.product-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /**margin-left: 3.4vh; **/
  color: var(--text-color);
}
.product-card {
  background: var(--white-color);
  border: 1px solid #dce0e4;
  border-radius: 5px;
  margin-top: 3vh;
  /*
   * margin-left: 3.4vh;
    margin-right: 3.4vh; 
   **/
}

.table-header {
  background: #fafbfe;
}

.pagination {
  //position: absolute;
  //bottom: 30px;
  //right: 30px;
  list-style: none;
  display: flex;
  justify-content: end;
  //align-items: center;
  margin-top: 4rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  background-color: var(--text-color);
  color: #fff;
  text-decoration: none;
}
.pagination .hide {
  display: none;
}
.pagination .page-num:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.required-field {
  color: var(--secondary-color);
  padding-left: 0.1rem;
}

.pagination .active {
  background-color: var(--secondary-color);
  color: #fff;
}
.autocomplete_items {
  position: absolute;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 25px);
  //margin-top: -15px;
  //top: 100%;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 7px;
}

.autocomplete_items::-webkit-scrollbar {
  display: none;
}

.autocomplete_items {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.autocomplete_items div {
  cursor: pointer;
}

.autocomplete_items div:hover {
  background-color: #e9e9e99a;
}

@media screen and (max-width: 775px) {
  .pagination {
    //position: absolute;
    //bottom: 30px;
    //right: 30px;
    list-style: none;
    display: flex;
    justify-content: end;
    //align-items: center;
    margin-top: 4rem;
    font-size: 0.8rem;
    gap: 5px;
  }
  .pagination .page-num {
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    background-color: rgba(0, 117, 191, 0.1);
    color: var(--secondary-color);
    text-decoration: none;
  }
  .pagination .page-num:hover {
    background-color: var(--secondary-color);
    color: #fff;
  }
  .pagination .active {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

.select-bar {
  margin-left: 1vh;
  background: #ffffff;
  border: 1px solid #dce0e4;
  border-radius: 5px;
  width: 40% !important;
  height: 43px;
  //padding: 0.6rem;
  background: url("../../assets/icons/report.png") no-repeat scroll 5px 11px;
  background-size: 20px;
  padding-left: 25px;
}

.select-product-type {
  margin-left: 1vh;
  background: #ffffff;
  border: 1px solid #dce0e4;
  border-radius: 5px;
  width: 25% !important;
  height: 43px;
  //padding: 0.6rem;
  background: url("../../assets/icons/productType.png") no-repeat scroll 5px
    11px;
  background-size: 20px;
  padding-left: 25px;
}
.search-product {
  margin-left: 1vh;
  background: #ffffff;
  border: 1px solid #dce0e4;
  border-radius: 5px;
  width: 25% !important;
  height: 43px;
  padding: 0.6rem;
}
.generate-btn {
  margin-left: 1vh;
  width: 20%;
  background: var(--secondary-color) !important;
  border-radius: 5px;
  height: 43px;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 16px !important;
}

.report-table-header {
  background: #fafbfe !important;
  font-size: 12px;
}

.report-table-header th {
  vertical-align: middle !important;
}

.report-table-body {
  font-size: 12px;
}

.report-form-label {
  font-size: 12px !important;
  line-height: 8px !important;
}

.report-page-card {
  padding: 1rem;
}
.report-border {
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}
.generic-input {
  //margin-left: 1vh;
  background: #ffffff;
  border: 1px solid #dce0e4;
  border-radius: 5px;
  width: 25% !important;
  height: 43px;
  padding: 0.6rem;
}
.percentage-input {
  background: #ffffff;
  border: 1px solid #dce0e4;
  border-radius: 5px;
  width: 10% !important;
  height: 43px;
  padding: 0.6rem;
}
.percentage-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #637381 !important;
  font-size: 10px !important;
  opacity: 1 !important; /* Firefox */
}

.percentage-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #637381 !important;
  font-size: 10px !important;
}

.percentage-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #637381 !important;
  font-size: 10px !important;
}
.grand-total-row {
  font-weight: 600;
}
@media screen and (max-width: 1380px) {
  table {
    font-size: 14px;
  }
  .select-product-type,
  .select-bar,
  .search-product {
    font-size: 12px;
  }
}

@media screen and (max-width: 990px) {
  .generate-btn {
    width: 25%;
    //margin-top: 5px;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1199px) {
  .generate-btn {
    width: 20%;
  }
}

@media screen and (max-width: 576px) {
  .generate-btn {
    width: 30%;
  }
}
