.bestItemAllTimeCardContainer {
  padding: 24px 0px 6px 6px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: #fafbfe !important;
  border: 1px solid #dce0e4 !important;
  //height: 100% !important;
}

.bestItemAllTimeCardImg {
  //height: 14vh !important;
  width: auto;
}

.bestItemAllTimeCardImgContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* body section */
.bestItemAllTimeCardTitle {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #1b2850;
}

.bestItemAllTimeCardweight {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #637381;
  margin-top: 7px;
}

/* Footer */

.bestItemAllTimeCardFooterTitle {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  color: #637381;
}

.bestItemAllTimeCardFooterValue {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
  color: #1b2850;
}

.item-card-width {
  width: 50%;
}

@media screen and (max-width: 1380px) {
  .bestItemAllTimeCardContainer {
    padding: 6px 0px 6px 0px;
    max-height: 36vh !important;
  }
  .bestItemAllTimeCardImg {
    height: 14vh !important;
    //width: 14vh !important;
  }
  .bestItemAllTimeCardImgContainer {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .bestItemAllTimeCardweight {
    margin-top: 0px;
  }
}

@media screen and (max-width: 450px) {
  .item-card-width {
    width: 100%;
  }
}
